<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
        <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
        <link rel='stylesheet' id='tt-easy-google-fonts-css' href='https://fonts.googleapis.com/css?family=Roboto+Slab%3A100%7CCousine%3Aregular&#038;subset=vietnamese&#038;ver=4.7.2' type='text/css' media='all' />
        <link rel='stylesheet' id='layers-google-fonts-css' href='https://fonts.googleapis.com/css?family=Roboto%3Aregular%2Citalic%2C700%2C100%2C100italic%2C300%2C300italic%2C500%2C500italic%2C700italic%2C900%2C900italic%7CRoboto+Slab%3Aregular%2C700%2C100%2C300%7CLato%3Aregular%2Citalic%2C700%2C100%2C100italic%2C300%2C300italic%2C700italic%2C900%2C900italic&#038;ver=1.5.5' type='text/css' media='all' />
        <!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans"> -->
        <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/imagehover.min.css">
        <link rel="stylesheet" type="text/css" href="/css/toastr.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        
        <!-- =======================================================
        Theme Name: Mentor
        Theme URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
        Author: BootstrapMade.com
        Author URL: https://bootstrapmade.com
        ======================================================= -->
        <style>
            .ui-autocomplete {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1000;
                float: left;
                display: none;
                min-width: 160px;
                padding: 4px 0;
                margin: 0 0 10px 25px;
                list-style: none;
                background-color: #ffffff;
                border-color: #ccc;
                border-color: rgba(0, 0, 0, 0.2);
                border-style: solid;
                border-width: 1px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                *border-right-width: 2px;
                *border-bottom-width: 2px;
            }
    
            .ui-menu-item > a.ui-corner-all {
                display: block;
                padding: 3px 15px;
                clear: both;
                font-weight: normal;
                line-height: 18px;
                color: #555555;
                white-space: nowrap;
                text-decoration: none;
            }
    
            .ui-state-hover, .ui-state-active {
                color: #ffffff;
                text-decoration: none;
                background-color: #0088cc;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                background-image: none;
            }
        </style>
        <script src="/vendor/jquery/jquery.min.js"></script>
        <!-- <script src="/Content/js/client.js"></script> -->
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/jssor.slider.min.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/vendor/jquery/angular.min.js"></script>
        <script src="/js/controllers.js"></script>
        <!-- <script src="/vendor/jquery/toastr.min.js"></script> -->
        <script src="/vendor/jquery/jquery.dataTables.min.js"></script>
        <script>
        $(document).ready(function(){
            var radios = $('input:radio[name=type]');
            radios.eq(0).prop('checked', true);
            $("#email").hide();
        });
        $(document).on('click', 'input:radio[name=type]', function(){
            // console.log($(this).val());
            var text = $(this).val();
            $("#sms").hide(); $("#email").hide();
            $("#" + text).show();
        });
        </script>
    </head>

    <body class="home header-style2" ng-app='myApp' >
        <div style="background: url('/img/gallery/bg2.jpg'); background-size: cover;">
            <div class="row">
                <div class="container">
                        <div class="site-logo xs-mt-10" style="text-align: center; float:none; margin-top: 10%;">
                                <a style="display: block" href="http://vncoins.vn" title="vncCoin" class="default-logo">
                                    <img src="/img/logo.png" alt="vncCoin" title="vncCoin">
                                </a>
                            </div>

                            <div id='login' class='panel panel-default mainbox col-xs-12 col-sm-12  col-md-6 col-md-offset-3' style="box-shadow:0px 0px 2px  0px grey;margin-top: 60px">
                
                                <div class="w100p text-center">
                                    <h2 class="mt10 clGreen">Quên mật khẩu</h2>
                                </div>
                                <form id="forgotPasswordForm" method="post" action="/forgot-password" accept-charset="utf-8" autocomplete="off" class="login_page_form form-horizontal">
                                    <div class="reg-error error">
                                    </div>
                                    <input  type="radio" name="type" value="sms" />Lấy lại mật khẩu qua SMS
                                    <br>
                                    <input  type="radio" name="type" value="email" />Lấy lại mật khẩu qua email
                                    <br><br/>
                                    <input type="hidden" name="returnUrl" id="returnUrl" />
                                    <div id="sms">
                                        <div class="input-group margin-bottom-sm " style="margin-bottom: 10px">
                                            <span class="input-group-addon"><i class="fa fa-user  fa-fw"></i></span>
                                            <input type="text" class="form-control" name="Login" value="" tabindex="1" placeholder="Tên đăng nhập" />
                                        </div>
                                        <div class="input-group margin-bottom-sm " style="margin-bottom: 10px">
                                            <span class="input-group-addon"><i class="fa fa-phone  fa-fw"></i></span>
                                            <input type="text" class="form-control" name="phone" id="phone" value="" tabindex="2" placeholder="Số điện thoại đăng ký" />
                                        </div>
                                    </div>
                                    <div id="email">
                                        <!-- <div class="input-group margin-bottom-sm " style="margin-bottom: 10px">
                                            <span class="input-group-addon"><i class="fa fa-user  fa-fw"></i></span>
                                            <input type="text" class="form-control" name="Login" value="" tabindex="1" placeholder=" Email" />
                                        </div> -->
                                        <div class="input-group margin-bottom-sm " style="margin-bottom: 10px">
                                            Đang được cập nhật, vui lòng thử lại sau.
                                        </div>
                                        
                                    </div>
                        
                                    <div class="input-group margin-bottom-sm " style="margin-bottom: 10px">
                                        <script src='https://www.google.com/recaptcha/api.js'></script>
                                        <div class="g-recaptcha" data-sitekey=""></div>
                                        <script>
                                            if(location.hostname == "localhost"){
                                                $(".g-recaptcha").attr("data-sitekey","6LfXNjsUAAAAAOPfroYZRzkZTlhKhjTxMQWC3ykd");
                                            }else{
                                                $(".g-recaptcha").attr("data-sitekey","6LeQNjsUAAAAAODIAq8fxuXiLHwtLuAoIuy2LnfT");
                                            }
                                        </script>
                                    </div>
                        
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-success w100p"  style="border-radius: 3px; font-size: 17px;">Xác nhận</button>
                                        </div>
                                    </div>
                                    
                                </form>

                            </div>

                </div>
            </div>
            <div class="row">

                            <style>
                                .input-group .form-control {
                                    height: 50px !important;
                                    margin-top: 0px !important;
                                }
                            </style>
                            <style>
                                .footer-menu li a {
                                    color: black;
                                }
                            
                                .footer-menu-link li:after {
                                    content: "/";
                                }
                            
                                .footer-menu-tags li {
                                    margin-left: 0 !important;
                                    margin-right: 0 !important;
                                }
                            
                                    .footer-menu-tags li a {
                                        color: #999;
                                        margin-left: 2px !important;
                                        margin-right: 2px !important;
                                    }
                            
                                .footer-menu-one-structure li a {
                                    color: black;
                                }
                            
                                .footer-menu-one-structure {
                                    float: none;
                                }
                            
                                    .footer-menu-one-structure li {
                                        display: block;
                                    }
                            </style>
            </div>




        <% include ../layout/bottom %>