        <div>
            <div class="container  mt40 mb20">
                <div class="row">
                    
                    <div class="col-md-12 col-sm-12">
                        <ul class="list-inline footer-font-icon ulockd-mrgn1220" style="text-align: center;">
                            <li><a href="http://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://www.youtube.com/channel/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="https://t.me/" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.reddit.com/user/TripAlly/" target="_blank"><i class="fa fa-reddit"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <footer class="footer">

                <div class="site-footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 text-left com-xs-text-center" style="padding-top: 6px">
                                <p>&copy; 2017 vncoins.vn . All Rights Reserved</p>
                            </div>
                            <div class="col-sm-6 text-center" style="position: inherit;">

                            </div>
                        </div>
                    </div>
                </div>
                <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
            </footer>
        </div>
    </div>


</body>
</html>