<html>
    <head>
    

        <title>Acommax - The complete ecosystem In blockchain world</title>
        <!-- FAVICONS -->
        <link rel="shortcut icon" href="/Uploads/logos/favicon.ico" type="image/x-icon">
        
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" id="flatsome-main-css" href="/Content/acom/css/aos.css" type="text/css" media="all">
        <link rel="stylesheet" id="flatsome-main-css" href="/Content/acom/css/style.min.css" type="text/css" media="all">
    
        <!-- <script type="text/javascript" async="" src="https://certify-js.alexametrics.com/atrk.js"></script> -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async=""></script> -->
        <script src="/Content/acom/js/webfont.js" type="text/javascript" async=""></script>
        <script>(function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>
       
        <meta name="description" content="Acommax stands firmly in support of financial freedom and the liberty, provides globally for anyone to voluntarily participate in a permissionless and decentralized network.">
    
    
        <link rel="stylesheet" id="contact-form" href="/Content/acom/css/styles.css" type="text/css" media="all">
        <link rel="stylesheet" id="icons-css" href="/Content/acom/css/fl-icons.css" type="text/css" media="all">
        <link rel="stylesheet" id="main-css" href="/Content/acom/css/acomax.css" type="text/css" media="all">
        <script type="text/javascript" src="/Content/acom/js/jquery.js"></script>
        <script type="text/javascript" src="/Content/acom/js/jquery-migrate.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Khand:700" rel="stylesheet">
        <link rel="stylesheet" href="/Content/acom/css/fade-css.css">
        <style type="text/css">
            html {
                scroll-behavior: smooth;
            }
        </style>
        <style>
            .bg {
                opacity: 0;
                transition: opacity 1s;
                -webkit-transition: opacity 1s;
            }
    
            .bg-loaded {
                opacity: 1;
            }
        </style>
        <script type="text/javascript">
            WebFontConfig = {
                google: { families: ["Roboto:regular,700", "Roboto:regular,regular", "Roboto:regular,700", "Roboto:regular,regular",] }
            };
            (function () {
                var wf = document.createElement('script');
                wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })(); </script>
        <link rel="stylesheet" href="/Content/acom/css/css" media="all">
        <style id="custom-css" type="text/css">:root {--primary-color: #000000;}/* Site Width */.full-width .ubermenu-nav, .container, .row{max-width: 1070px}.row.row-collapse{max-width: 1040px}.row.row-small{max-width: 1062.5px}.row.row-large{max-width: 1100px}.header-main{height: 66px}#logo img{max-height: 66px}#logo{width:200px;}.header-bottom{min-height: 45px}.header-top{min-height: 30px}.has-transparent + .page-title:first-of-type,.has-transparent + #main > .page-title,.has-transparent + #main > div > .page-title,.has-transparent + #main .page-header-wrapper:first-of-type .page-title{padding-top: 66px;}.header.show-on-scroll,.stuck .header-main{height:70px!important}.stuck #logo img{max-height: 70px!important}.header-bottom {background-color: #f1f1f1}.header-bottom-nav > li > a{line-height: 8px } .header-main{height: 70px}#logo img{max-height: 70px}/* Color */.accordion-title.active, .has-icon-bg .icon .icon-inner,.logo a, .primary.is-underline, .primary.is-link, .badge-outline .badge-inner, .nav-outline > li.active> a,.nav-outline >li.active > a, .cart-icon strong,[data-color='primary'], .is-outline.primary{color: #000000;}/* Color !important */[data-text-color="primary"]{color: #000000!important;}/* Background */.scroll-to-bullets a,.featured-title, .label-new.menu-item > a:after, .nav-pagination > li > .current,.nav-pagination > li > span:hover,.nav-pagination > li > a:hover,.has-hover:hover .badge-outline .badge-inner,button[type="submit"], .button.wc-forward:not(.checkout):not(.checkout-button), .button.submit-button, .button.primary:not(.is-outline),.featured-table .title,.is-outline:hover, .has-icon:hover .icon-label,.nav-dropdown-bold .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold > li > a:hover, .nav-dropdown-bold.dark .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold.dark > li > a:hover, .is-outline:hover, .tagcloud a:hover,.grid-tools a, input[type='submit']:not(.is-form), .box-badge:hover .box-text, input.button.alt,.nav-box > li > a:hover,.nav-box > li.active > a,.nav-pills > li.active > a ,.current-dropdown .cart-icon strong, .cart-icon:hover strong, .nav-line-bottom > li > a:before, .nav-line-grow > li > a:before, .nav-line > li > a:before,.banner, .header-top, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover, .button.primary:not(.is-outline), input[type='submit'].primary, input[type='submit'].primary, input[type='reset'].button, input[type='button'].primary, .badge-inner{background-color: #000000;}/* Border */.nav-vertical.nav-tabs > li.active > a,.scroll-to-bullets a.active,.nav-pagination > li > .current,.nav-pagination > li > span:hover,.nav-pagination > li > a:hover,.has-hover:hover .badge-outline .badge-inner,.accordion-title.active,.featured-table,.is-outline:hover, .tagcloud a:hover,blockquote, .has-border, .cart-icon strong:after,.cart-icon strong,.blockUI:before, .processing:before,.loading-spin, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover{border-color: #000000}.nav-tabs > li.active > a{border-top-color: #000000}.widget_shopping_cart_content .blockUI.blockOverlay:before { border-left-color: #000000 }.woocommerce-checkout-review-order .blockUI.blockOverlay:before { border-left-color: #000000 }/* Fill */.slider .flickity-prev-next-button:hover svg,.slider .flickity-prev-next-button:hover .arrow{fill: #000000;}body{font-family:"Roboto", sans-serif}body{font-weight: 0}.nav > li > a {font-family:"Roboto", sans-serif;}.nav > li > a {font-weight: 700;}h1,h2,h3,h4,h5,h6,.heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a{font-family: "Roboto", sans-serif;}h1,h2,h3,h4,h5,h6,.heading-font,.banner h1,.banner h2{font-weight: 700;}h1,h2,h3,h4,h5,h6,.heading-font{color: #000000;}.nav > li > a, .links > li > a{text-transform: none;}.alt-font{font-family: "Roboto", sans-serif;}.alt-font{font-weight: 0!important;}.header:not(.transparent) .header-nav.nav > li > a {color: #000450;}.header:not(.transparent) .header-bottom-nav.nav > li > a{color: #000450;}.label-new.menu-item > a:after{content:"New";}.label-hot.menu-item > a:after{content:"Hot";}.label-sale.menu-item > a:after{content:"Sale";}.label-popular.menu-item > a:after{content:"Popular";}</style>
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,700%7CRoboto:regular,regular%7CRoboto:regular,700%7CRoboto:regular,regular" media="all"><script type="text/javascript">
            _atrk_opts = { atrk_acct: "5xIbq1KAfD20Cs", domain: "acommax.com", dynamic: true };
            (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
        </script>
        <!-- <noscript><img src="https://certify.alexametrics.com/atrk.gif?account=5xIbq1KAfD20Cs" style="display:none" height="1" width="1" alt="" /></noscript> -->
     
    </head>

    <body class="home full-width lightbox nav-dropdown-has-arrow" data-aos-easing="ease-out-back" data-aos-duration="1000" data-aos-delay="0" ng-app='myApp'>
        <div id="wrapper" class="body main-bg-color"> 
            
        </div>
    </body>
</html>



        